
.container{
    margin: 0 1rem;
}

.group-chat-box{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border:2px solid black;
    border-radius: 10px;
    padding: 1rem;
    /* width: 95%; */
}

.group-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
.group-header .grp-profile svg{
    font-size: 30px;
    color:green;
    /* margin-top: -50px; */
}
.group-header .grp-profile svg:hover{
    transform: scale(1.2);

}
.group-header .grp-head svg{
    margin-right: 1rem;
    color:green;
    font-size: 25px;
}
.group-header .grp-head span{
    font-size: 30px;
    /* margin-top: -50px; */
}
.chats-container{
    margin-top: 0.5rem;
    height:calc(100vh - 250px);
    border:3px solid green;
    width: 100%;
    border-radius: 5px;
    padding-top: 1rem;
    overflow-y: scroll;
}

.my{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.other{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.wrapper{
    background-color: rgb(73, 200, 200);
    background-color: #128c7e;
    background-color: #19a24c;
    background-color:  #00a98f;
    padding: 5px;
    border-radius:5px;
    margin-left:5px;
    /* max-width: 250px; */
    margin-top: 0.5rem;
    max-width: 80%;
}
/* .otherwrapper{

    max-width: 250px;
} */
/* https://www.designpieces.com/palette/whatsapp-color-palette-hex-and-rgb/  /* Hex: #00a98f */*/
.wrapper .other-name,.wrapper .my-name{
    font-size: 10px;
    padding: 0 5px;
}
.wrapper .message,.wrapper .message{
    padding: 0 5px;

}
.mywrapper{
    background-color:  #075e54;
    background-color:   #ece5dd;
    background-color:   #34b7f1;
    background-color:  #128c7e;
    background-color:  #00a98f;
    background-color:  #25d366;
    background-color:  #4fcb7c;
    margin-right: 5px;
    /* border-bottom-left-radius: 50px; */
} 
.wrapper .message {
    display: flex;
    flex-direction: column;
}
.wrapper .message .timestamp{
    /* font-size: 8px; */
    font-size: 0.7rem;
    text-align: start;
}
.typing-box{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 50px;

}
.typing-box input{
    width: 100%;
    border:none;
    outline: none;
    font-size: 20px;

}
.typing-box input::placeholder{
    font-weight: 600;
}
.typing-box .send-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* .timestamp{
    font-size: 2rem;
} */
.line{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.mywrapper{
    border-bottom-right-radius: 2.5rem ;
}
.otherwrapper{
    border-bottom-left-radius: 2.5rem;
}
.time{
    text-align: end;
    font-size: 0.7rem;
}