
.container{
    margin: 0 1rem;
}

.group-chat-box{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: cyan; */
    border:2px solid black;
    border-radius: 10px;
    padding: 1rem;
    /* width: 95%; */
}

.group-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid black;
}
.group-header .grp-profile svg{
    color:green;
}
.group-header .grp-profile svg:hover{
    transform: scale(1.2);

}
.group-header .grp-head svg{
    margin-right: 1rem;
    color:green
}
.chats-container{
    margin-top: 0.5rem;
    height:calc(100vh - 250px);
   border:3px solid green;
   width: 100%;
   border-radius: 5px;
   padding-top: 1rem;
   overflow-y: scroll;
}

.other{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.my{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.wrapper{
    background-color: rgb(73, 200, 200);
    padding: 5px;
    border-radius:5px;
    margin-left:5px;
    max-width: 250px;
    margin-top: 0.5rem;
}
/* .otherwrapper{
    background-color: rgb(73, 200, 200);
} */
.wrapper .other-name,.wrapper .my-name{
    font-size: 10px;
    padding: 0 5px;
}
.wrapper .message,.wrapper .message{
    padding: 0 5px;
}
.mywrapper{
    background-color: rgba(0, 128, 0, 0.618);
    margin-right: 5px;
} 
.wrapper .message {
    display: flex;
    flex-direction: column;
}
.wrapper .message .timestamp{
    font-size: 8px;
    text-align: end;
}
.typing-box{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    /* background-color: rgb(107, 56, 56); */
    /* color:white; */
}
.typing-box input{
    width: 100%;
    border:none;
    outline: none;
    font-size: 20px;
    /* background-color: rgba(107, 56, 56, 0.146); */
    /* color:rgb(220, 203, 203); */
}
.typing-box input::placeholder{
    font-weight: 600;
}
.typing-box .send-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* padding: 0.5em 0.5em; */
    padding: 2px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}