


.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(245, 222, 179, 0.537);
    /* background-color: rgba(0, 255, 255, 0.63); */
    padding: 1rem 0;
}
.btns .button{
    margin-right: 1.5rem;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.btns .button svg{
    font-size: 25px;
    margin-right: 5px;
}
.add-group-btn,.add-user-btn{
    background-color: green;
    color:white;
}
.add-group-btn:hover,.add-user-btn:hover{
    background-color:rgba(0, 128, 0, 0.753);
}

.create-grp-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.create-grp-btns .cancel{
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, 0.671);
    color:white;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1rem;
}
.create-grp-btns .cancel:hover{
    background-color: red;
}
.create-grp-btns .create{
    padding: 5px 10px;
    background-color: rgba(0, 128, 0, 0.792);
    color:white;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 0.5rem;
}
.create-grp-btns .create:hover{
    background-color: green;
}

/* .container{
    position: relative;
} */

.input-container{
    position: fixed;
    top:0px;
    background-color: rgba(0, 0, 0, 0.701);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grp-box,.user-box{
    /* position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); */
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 1rem;
}
.grp-box .list ul,.user-box .list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    height: 200px;
    overflow-y: scroll;
}
.list ul li{
    padding:5px;
    cursor: pointer;
}
.list ul li:hover{
    background-color: rgba(245, 222, 179, 0.608);
    border-radius: 5px;
}
input{
    box-sizing: border-box;
}
.hide{
    display: none;
}
.grp-model{
    display: none;
}
.user-model{
    display: none;
}

/* group and user list styles */

.list-container{
    /* font-size: 20px; */
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.group-list a,.user-list a{
    text-decoration: none;
    color: black;
}
.group-list , .user-list{
    width: 100%;
    border:2px solid black;
    border-radius: 10px;
}
.group-list-item, .user-list-item{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.group-list-item .group-name svg,.user-list-item .user-name svg{
    margin-right: 1rem;
}
.group-options,.user-options{
    position: relative;
}
.group-options .group-options-list, .user-options .user-options-list{
    position: absolute;
    top:0px;
    right : 20px;
    padding: 10px;
    border-radius: 10px;
    color:white;
    background-color: black;
    border-bottom: 2px solid white;
}
.group-options .group-options-list div,.user-options .user-options-list div{
    /* border-bottom: 1px solid white; */
    padding: 2 px;
}
.group-options .group-options-list div:hover, .user-options .user-options-list div:hover{
    /* border-bottom: 1px solid white; */
    background-color: lightgray;
    color:black;
    border-radius: 5px;
}