
.search{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    padding: 0 5px;
    border-radius: 3px;
}

.search input{
    padding: 3px 5px;
    /* outline: none; */
    /* border: none; */
}
.headSearch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headSearch svg{
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
}