@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

@import './styles/signup.css';
@import './styles/Search.css';
@import './styles/Header.css';
@import './styles/Navbar.css';
@import './styles/Home.css';
body{
    margin: 0;
    padding: 0;
}

.app{
    font-family: "Poppins", sans-serif;
}